html, body {
    margin: 0;
    padding: 0;
}

#container {
    position: relative;
    width: 550px;
    padding: 15px;
    margin: 0 auto;
}

#transparent {
    cursor: pointer;
}

.select-color {
    cursor: pointer;
}

.select-color i {
    display: inline-block;
    height: 16px;
    width: 16px;
    vertical-align: text-top;
}

.select-color.fore i {
    background-color: #000000;
}

.select-color.back i {
    background-color: #ffffff;
}

.button {
    margin-right: 10px;
}

#save-result {
    display: none;
    position: absolute;
    z-index: 100;
    bottom: 50px;
    left: 15px;
    width: 520px;
}

#back {
    cursor: pointer;
    height: 34px;
    line-height: 34px;
    padding: 0 10px;
    display: none;
}
