html, body {
    margin: 0;
    padding: 0;
}

#container {
    width: 350px;
    margin: 0 auto;
}

.qrcode {
    width: 300px;
    height: 300px;
    margin: 25px;
}

.qrcode-image {
    display: none;
}

.url {
    width: 300px;
    margin: 0 25px;
}

.button {
    width: 300px;
    margin: 15px 25px 0 25px;
}

.button:last-child {
    margin-bottom: 25px;
}

.tools {
    padding: 20px 25px;
    font-size: 0;
}

.tools .tool {
    display: inline-block;
    width: 50%;
}

.tools a {
    cursor: pointer;
    font-size: 12px;
}
